page-play-video {
  ion-header {
    .back-button {
      display: none !important;
    }
    .bar-button-menutoggle {
      display: block !important;
    }
  }

  ion-content {
    .videoContainer {
      video {
        width: 100%;
        height: 200px;
      }
    }
    .heading {
      border-bottom: 2px solid;
      border-color: color($colors, primary);
    }

    ion-row {
      video {
        width: 100%;
        height: 130px;
        object-fit: cover;
      }
    }
  }
}
